
*,
*::before,
*::after{
    
    padding:0;
    box-sizing: inherit;
}

body{
margin:0;
background-color: white;

}
.topnav {
    overflow: hidden;
    background-color:white;
    
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left:  15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 12px;
    font-weight:100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  }

  .nav {
    padding-left: 70px;
  }

  .mid a{

    float:center;
    display: block;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 350px;
    font-size: 15px;
    
    font-family:Arial, Helvetica, sans-serif
    border-image-width:5px;
    }

    img{
        width:15px;
        height:15px;
        
    }
    
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 10px;
    border: solid black;
    border-width: 2px;
    width:100px;
    height: 15px;
  }
  button img {
    width: 12px;
    height: 10px;
    display: inline;
  }

  .search-box {
    float:right;
    padding-right:50px;
    }

  .cart  {
    display:inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    float:right;
    border: none;
    }
  
    .cart p{
    font-size: 12px;
    padding-top: 10px;
    padding-left:15px;
  }
  .pottery {
    
    display:flex;
    background-image:
    url('../images/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg');
    background-size: cover;
    background-position: center;
    min-height: 40rem;
    }

    h2{
        float: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 120%;
        color: whitesmoke;
        padding-left: 80px;
        padding-top: 20px;
        font-size: 20px;
    }

    h3{
      line-height: 120%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:whitesmoke;
      padding-left:1250px;
      padding-top: 500px;
      font-size:20px;
    }

    h4{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: black;
      padding-left: 60px;
      font-size: 30px;
    }

.item1 {
  background-color:white;
  grid-column: 1/5;
  grid-row: 1/2;

}

.item2 {
  background-image:
    url('../images/Cylinder_unglazed3_2048x2048.jpg');
  resize: vertical;
  transform: scaleX(-1);
  
  background-size:auto ;
  grid-column: 5/7;
  grid-row: 1/4;
  background-size: cover;
  background-position: center;
  min-height: 35rem;
  background-repeat: no-repeat;
}



.item3 {
  background-image:
    url('../images/Vase_Dame_2048x2048.jpg');
  background-size:auto ;
  grid-column: 1/3;
  grid-row: 2/4;
  background-size: cover;
  background-position: center;
  min-height: 35rem;
  background-repeat: no-repeat;
}

.item4 {
  background-color: white;
  grid-column: 3/5;
  grid-row: 2/4;
}

.item1 p {
font-size: smaller;
font-family: Arial, Helvetica, sans-serif;
text-align: left;
padding-left: 30px;
padding-right: 30px;

}

.item4 p {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  
  }





.main-container {
  display: grid;
  height: 80vh;
  margin: 2rem;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


  .main-container > div {
     
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
      
    }
  
    
  h5{
      float: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: black;
      padding-left:60px;
      font-size: 30px;
     
    }

    .description-container {
      
      clear: both;
      background-color:aquamarine;
      display: grid;
      height: 140vh;
      margin: 5rem;
      
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      
      }

      .description-container > div {
     
        text-align: center;

        
      }

      .pr1 img{
        
        height:200px;
        width: 200px;
      }
      .pr2 img{
        height:200px;
        width: 200px;
      }
      .pr3 img{
        height:200px;
        width: 200px;
      }

      .pr4{
        margin-top: -30px;
        
        
      }

      .pr4 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
        
      }
      .pr4 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr4 h7{
        font-size: x-small;
        
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr4 button{
        
        font-size:8px;
        color:orange;
      }

      .pr5{
        margin-top: -30px;
       
      }

      .pr5 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
      }
      .pr5 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr5 h7{
        font-size: x-small;
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr5 button{
      
        font-size:8px;
        color:orange;
      }

      .pr6{
        margin-top: -30px;
       
      }

      .pr6 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
      }
      .pr6 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr6 h7{
        font-size: x-small;
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr6 button{
      
        font-size:8px;
        color:orange;
      }
      
      .pr7 img{
        height:200px;
        width: 200px;
      }
      .pr8 img{
        height:200px;
        width: 200px;
      }
      .pr9 img{
        height:200px;
        width: 200px;
      }

      .pr10{
        margin-top: -30px;
       
      }

      .pr10 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
      }
      .pr10 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr10 h7{
        font-size: x-small;
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr10 button{
      
        font-size:8px;
        color:orange;
      }
      .pr11{
        margin-top: -30px;
       
      }

      .pr11 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
      }
      .pr11 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr11 h7{
        font-size: x-small;
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr11 button{
      
        font-size:8px;
        color:orange;
      }
      .pr12{
        margin-top: -30px;
       
      }

      .pr12 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
      }
      .pr12 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr12 h7{
        font-size: x-small;
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr12 button{
      
        font-size:8px;
        color:orange;
      }

      .pr13 img{
        height: 200px;
        width: 200px;
      }
      .pr14 img{
        height:200px;
        width: 200px;
      }
      .pr15 img{
        height:200px;
        width: 200px;
      }

      .pr16{
        margin-top: -30px;
       
      }

      .pr16 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
      }
      .pr16 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr16 h7{
        font-size: x-small;
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr16 button{
      
        font-size:8px;
        color:orange;
      }
      .pr17{
        margin-top: -30px;
       
      }

      .pr17 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
      }
      .pr17 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr17 h7{
        font-size: x-small;
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr17 button{
      
        font-size:8px;
        color:orange;
      }
      .pr18{
        margin-top: -30px;
       
      }

      .pr18 h6{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        text-align: start;
        padding-left:130px;
        float: top;
        text-decoration: underline;
      }
      .pr18 p{
        font-size:10px;
        float: center;
        padding-left: 130px;
        padding-right: 120px;
        text-align:start;
        margin-top: -20px;
      }
      .pr18 h7{
        font-size: x-small;
        padding-right: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: orange;
        text-decoration: underline;
        
      }
      .pr18 button{
      
        font-size:8px;
        color:orange;
      }

      .contact-container h6{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: black;
      font-size: 30px;
      margin-top: -80px;
      
      }

      .contact-container{
        float: inline-start;
        padding-left: 60px;
        margin-top: -70px;
      }
      .contact-container h2{
        display: flex;
        margin-top: -70px;
      }
      .contact-form{
        padding-left: 200px;
      }

      .contact-form  label{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: smaller;
      ;
      }
      .contact-form button{
        color: orange;
        margin-left: 26%;
        
      }





















    


      
      


  
  
   
  


  
   
 

  







    

    


